.pane {
	background: #24252a;
	background: linear-gradient(135deg,  #24252a 0%,#283647 100%);
	color: #fff;
}
.logo {
	background: url(../img/logo.png) center center no-repeat;
	background-size: contain;
	width: 200px;
	height: 200px;
	margin: 10px auto 210px auto;
}
.receipts {
	border-bottom: 1px solid rgba(255,255,255,.4);
}
.receipt {
	padding: 20px;
	border-top: 1px solid rgba(255,255,255,.4);
}
.location {
	height: 60px;
	width: 200px;
	background: center center no-repeat;
	background-size: contain;
}
.location1 {
	background-image: url(../img/location.png);
}
.location2 {
	background-image: url(../img/location2.png);
}
.cost {
	float: right;
	font-size: 32px;
	margin-top: 22px;
}