<div class="hitch-panel" ng-show="state.hitchPanel">
	<div class="hitch-location"></div>
	<div class="hitch-branding">
		<h2>Powered By</h2>
		<div class="logo"></div>
	</div>
	<div class="hitch-left" ng-show="state.location">
		<div class="hitch-profile"></div>
		<div class="hitch-welcome-text">Welcome back, Brian!</div>
	</div>
	<div class="hitch-right" ng-show="state.location">
		<div class="hitch-yourorder">Your Order</div>
		<div class="hitch-menu-item" ng-show="state.order">
			<div class="hitch-menu-item-title">Yogurt Parfait</div>
			<div class="hitch-menu-item-price">$3.22</div>
		</div>
		<div class="hitch-menu-item" ng-show="state.order">
			<div class="hitch-menu-item-title">Grande Dirty Chai</div>
			<div class="hitch-menu-item-price">$8.45</div>
		</div>
		<div class="hitch-menu-total" ng-show="state.order">Total: $11.67</div>

		<button class="hitch-checkout" ng-click="checkout()" ng-show="state.order">Checkout</button>
	</div>
</div>



<div class="hitch-thumb-panel" ng-show="state.thumbPanel">
	<div class="thumb-icon"></div>
	<div class="thumb-arrow"></div>
	<div class="thumb-text">Authorize your payment by touching the fingerprint reader</div>
</div>


<div class="authorizing-panel" ng-show="state.authorizingPanel">
	<div class="authorizing-loading" ng-show="!state.facialError">
		<div class="spinner">
			<div class="cube1"></div>
			<div class="cube2"></div>
		</div>
	</div>
	<div class="authorizing-text" ng-show="!state.facialError">Authorizing Payment</div>
	<div class="authorizing-text" ng-show="state.facialError">Facial recognition error. Try Again.</div>
</div>


<div class="success-panel" ng-show="state.successPanel" ng-click="completeApp()">
	<div class="success-icon"></div>
	<div class="success-text">Success!<br />We've emailed you a receipt</div>
</div>



<div class="controls">
	<div class="hitch-photo-mask-text1">Line up your face</div>
	<div class="hitch-photo-mask-text2">And touch the screen to authorize</div>
	<div class="hitch-photo-mask" ng-click="takePicture()"></div>
</div>


<style>
.view-container, .pane {
	background: transparent;
}
</style>