html, body {
	color: #fff;
	font-weight: 300;
}

.hitch-panel {
	position: absolute;
	z-index: 6;
	top: 0px;
	left: 0px;
	right: 0px;
	bottom: 0px;
	background: #24252a;
	background: linear-gradient(135deg,  #24252a 0%,#283647 100%);
	color: #fff;
}
.hitch-location {
	height: 80px;
	background: url(../img/location.png) center center no-repeat;
	background-size: contain;
	position: absolute;
	top: 10px;
	left: 0px;
	right: 0px;
}
.logo {
	background-image: url(../img/logo.png);
	background-position: center center;
	background-repeat: no-repeat;
	background-size: contain;
}
.hitch-branding {
	opacity: .6;
	position: absolute;
	bottom: 4px;
	left: 4px;
}
.hitch-branding h2 {
	color: #fff;
	font-weight: 200;
	width: 160px;
	text-align: center;
	font-size: 28px;
	margin: 0px;
}
.hitch-branding .logo {
	width: 160px;
	height: 50px;
}
.hitch-left {
	position: absolute;
	width: 360px;
	height: 500px;
	left: 100px;
	top: 200px;
	text-align: center;
}
.hitch-profile {
	width: 300px;
	height: 300px;
	border-radius: 50%;
	background: url(../img/profile.png) center center no-repeat;
	background-size: cover;
	margin: auto;
	border: 6px solid  #6fc4c1;
	opacity: 1;
	transform: scale(1);
	transition: all .4s ease;
}
.hitch-welcome-text {
	font-size: 30px;
	margin-top: 30px;
	color:#6fc4c1;
	font-weight: 300;
	opacity: 1;
	transform: scale(1);
	transition: all .4s ease;
}
.hitch-right {
	position: absolute;
	top: 200px;
	right: 100px;
	width: 360px;
	height: 400px;
	text-align: center;
	font-size: 30px;
	opacity: 1;
	transform: scale(1);
	transition: all .4s ease;
}
.hitch-menu-item {
	background: rgba(255, 255, 255, 1);
	color: #333333;
	text-align: right;
	padding: 20px;
	margin-top: 20px;
	border-radius: 12px;
	font-weight: 500;
	font-size: 26px;
	opacity: 1;
	transform: scale(1);
	transition: all .4s ease;
}
.hitch-menu-item-title {
	float: left;
}
.hitch-menu-total {
	margin-top: 20px;
	font-weight: 500;
	font-size: 26px;
	text-align: right;
	opacity: 1;
	transform: scale(1);
	transition: all .4s ease;
}
.hitch-checkout {
	margin-top: 120px;
	width: 100%;
	padding: 20px;
	border: 0px;
	border-radius: 12px;
	background: #6fc4c1;
	color: #fff;
	font-size: 30px;
	opacity: 1;
	transform: scale(1);
	transition: all .4s ease;
}







.hitch-thumb-panel {
	position: absolute;
	z-index: 5;
	top: 0px;
	left: 0px;
	right: 0px;
	bottom: 0px;
	background: #24252a;
	background: linear-gradient(135deg,  #24252a 0%,#283647 100%);
	color: #fff;
	text-align: center;
}
.thumb-icon {
	width: 300px;
	height: 300px;
	position: absolute;
	top: 200px;
	left: 200px;
	background: url(../img/thumb.png) center center no-repeat;
	background-size: contain;
	margin: auto;
}
.thumb-arrow {
	width: 300px;
	height: 300px;
	position: absolute;
	top: 200px;
	right: 130px;
	background: url(../img/arrow-right.png) center center no-repeat;
	background-size: contain;
	margin: auto;

}
.thumb-text {
	margin-top: 550px;
	text-align: center;
	font-size: 40px;
	line-height: 50px;
	padding: 20px 90px;
	color:#6fc4c1;
	font-weight: 300;
}









.hitch-photo-mask {
	position: absolute;
	z-index: 2;
	top: 0px;
	left: 0px;
	right: 0px;
	bottom: 0px;
	background: url(../img/face-mask.png) center center no-repeat;
	background-size: cover;
}
#hitch-photo-taken {
	position: absolute;
	z-index: 5;
	width: 50%;
	height: 50%;
	left: 0px;
	top: 0px;
}
.hitch-photo-mask-text1 {
	position: absolute;
	z-index: 3;
	top: 10px;
	left: 0px;
	right: 0px;
	text-align: center;
	font-size: 40px;
	line-height: 50px;
	color:#6fc4c1;
	font-weight: 300;
}
.hitch-photo-mask-text2 {
	position: absolute;
	z-index: 3;
	bottom: 10px;
	left: 0px;
	right: 0px;
	text-align: center;
	font-size: 40px;
	line-height: 50px;
	color:#6fc4c1;
	font-weight: 300;
}





.authorizing-panel {
	position: absolute;
	z-index: 4;
	top: 0px;
	left: 0px;
	right: 0px;
	bottom: 0px;
	background: #24252a;
	background: linear-gradient(135deg,  #24252a 0%,#283647 100%);
	color: #fff;
	text-align: center;
}
.authorizing-text {
	position: absolute;
	top: 400px;
	left: 0px;
	right: 0px;
	text-align: center;
	font-size: 40px;
	line-height: 50px;
	color:#6fc4c1;
	font-weight: 300;
}
.authorizing-loading {
	margin-top: 300px;
}





.success-panel {
	position: absolute;
	z-index: 12;
	top: 0px;
	left: 0px;
	right: 0px;
	bottom: 0px;
	background: #24252a;
	background: linear-gradient(135deg,  #24252a 0%,#283647 100%);
	color: #fff;
	text-align: center;
}
.success-text {
	position: absolute;
	top: 400px;
	left: 0px;
	right: 0px;
	text-align: center;
	font-size: 40px;
	line-height: 50px;
	color:#6fc4c1;
	font-weight: 300;
}
.success-icon {
	width: 180px;
	height: 180px;
	background: url(../img/checkmark.png) center center no-repeat;
	background-size: contain;
	margin: 200px auto;
}





[nav-view-transition="ios"][nav-view-direction="forward"], [nav-view-transition="ios"][nav-view-direction="back"] {
	background: transparent;
}







.bubble {
	transform: scale(.2);
	opacity: 0;
}
.delay {
	transition-delay: .4s;
}
.delay4 {
	transition-delay: 1.2s;
}
.delay6 {
	transition-delay: 1.8s;
}


.spinner {
  margin: 100px auto;
  width: 40px;
  height: 40px;
  position: relative;
}

.cube1, .cube2 {
  background-color: #6fc4c1;
  width: 15px;
  height: 15px;
  position: absolute;
  top: 0;
  left: 0;
  
  -webkit-animation: sk-cubemove 1.8s infinite ease-in-out;
  animation: sk-cubemove 1.8s infinite ease-in-out;
}

.cube2 {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}

@-webkit-keyframes sk-cubemove {
  25% { -webkit-transform: translateX(42px) rotate(-90deg) scale(0.5) }
  50% { -webkit-transform: translateX(42px) translateY(42px) rotate(-180deg) }
  75% { -webkit-transform: translateX(0px) translateY(42px) rotate(-270deg) scale(0.5) }
  100% { -webkit-transform: rotate(-360deg) }
}

@keyframes sk-cubemove {
  25% { 
    transform: translateX(42px) rotate(-90deg) scale(0.5);
    -webkit-transform: translateX(42px) rotate(-90deg) scale(0.5);
  } 50% { 
    transform: translateX(42px) translateY(42px) rotate(-179deg);
    -webkit-transform: translateX(42px) translateY(42px) rotate(-179deg);
  } 50.1% { 
    transform: translateX(42px) translateY(42px) rotate(-180deg);
    -webkit-transform: translateX(42px) translateY(42px) rotate(-180deg);
  } 75% { 
    transform: translateX(0px) translateY(42px) rotate(-270deg) scale(0.5);
    -webkit-transform: translateX(0px) translateY(42px) rotate(-270deg) scale(0.5);
  } 100% { 
    transform: rotate(-360deg);
    -webkit-transform: rotate(-360deg);
  }
}
